<div class="page">
    <div class="overviews">
        <div class="overview">
            <p class="title">Quick Overview:</p>
            <div class="quick-list">
                <p class="text">Front End Developer 💻 </p>
                <p class="text">Tech Enthusiast 👩🏻‍💻</p>
                <p class="text">Motivational Speaker 🎙️</p>
                <p class="text">Aspiring Writer ✏️ </p>
                <p class="text">Lifelong Learner 👩🏻‍🎓</p>
                <p class="text">Mum of Two 🥴</p>
            </div>
        </div>
    
        <div class="overview">
            <p class="title">Not-so-quick Overview:</p>
            <p class="text">Front End Developer, with a demonstrated 4 years' 
                history of working in the computer software industry. Proficient 
                in Angular, React, Flutter and Python, besides SQL, Node, and Git. 
                Strong engineering professional with a Bachelor of Technology (B. Tech.) 
                focused in Computer Science from University of Calicut, India.</p>
        </div>
    
        <div class="overview">
            <p class="title">Fun Overview:</p>
            <p class="text">I am a tech enthusiast and a lifelong learner - I can speak 
                <strong>four and a half</strong> languages, and am currently learning a sixth!</p>
            <p class="text">I am a motivational speaker; I have spoken about my journey back into 
                Tech on the prestigous stage of <strong>Reframe WIT,</strong> Manchester, in 2024.</p>
            <p class="text">I am an aspiring writer, because I can spin words into scenes and make you 
                fall in love with wackos, and take your imagination on a wild, wild ride through 
                jungles and skies. I intend to publish soon. And before you ask, I write fiction.</p>
            <p class="text">I am a homemaker, because I can juggle my work, my home and my two 
                kids — of which one is a preschooler in his <em>fearsome-fours</em> — with an 
                'oh-that's-nice' balance (and yet keep myself sane!)</p>
        </div>
    </div>
</div>
