.app {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    & nav {
        height: 100px;

        & .brand {
            display: inline-block;
            font-family: 'Fleur De Leah', cursive;
            font-size: 60px;
            margin: 20px 60px;
            width: 200px;
        }
    }

    & header {
        text-align: center;

        & h1 {
            font-size: 50px;
            margin: 0 auto 30px;
            opacity: 0.9;
            width: 100%;
        }

        & p {
            font-size: 35px;
            margin: 0 auto 40px;
            width: 100%;
        }
    }

    .sheets {
        height: 55%;
        background: linear-gradient(136deg, rgba(243, 246, 250, 0.7) 10%, rgba(188, 207, 233, 0.7) 100%);
        border-radius: 16px;
        // box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
        box-sizing: border-box;
        color: rgb(35, 9, 47);
        margin: 0 60px;
        padding: 0;
        position: relative;
        flex: 1;
    }

    footer {
        background-color: rgb(23, 6, 31);
        height: 8%;
        margin-top: 50px;
        text-align: center;

        & p {
            opacity: 0.6;
        }
    }
}

@media (max-width: 1300px) {
    .app {
        .sheets {
            height: 100%;
        }

        header p {
            margin-bottom: 25px;
            width: 60%;
        }
    }
}

@media (max-width: 950px) {
    .app {
        height: auto;
        width: 100%;
        nav {
            height: 70px;
            .brand {
                font-size: 27px;
                margin: 20px 30px;
                width: 80px;
            }
        }

        header {
            h1 {
                display: inline-block;
                font-size: 30px;
                margin: 0 auto 15px;
                width: 100%;
            }

            p {
                font-size: 20px;
                margin: 0 auto 18px;
                width: 75%;
            }
        }

        .sheets {
            margin: 0 30px;
        }

        footer {
            font-size: 12px;
            margin-top: 20px;
        }
    }
}