<div class="page">
    <div class="e-and-a">
        <div class="education">
            <h3><u>Education:</u></h3>
            <div>
                <h4>BACHELOR OF TECHNOLOGY in COMPUTER SCIENCE ENGINEERING</h4>
                <p>University of Calicut, India, 2009</p>
            </div>

            <h3 class="certs-h3"><u>Certifications:</u></h3>
            <div>
                <p><strong>The Complete 2022 Web Development Bootcamp,</strong> Udemy, 2021</p>
            </div>
            <div>
                <p><strong>The Complete Python Pro Bootcamp,</strong> Udemy, 2021</p>
            </div>
            <div>
                <p><strong>The Complete Flutter Development Bootcamp with Dart,</strong> Udemy, 2020</p>
            </div>
            <div>
                <p><strong>Training Course in C#.NET,</strong> Regional Institute of Information Technology, Kerala, India, 2009</p>
            </div>
        </div>

        <div class="achievements">
            <div class="achievements-details">
                <h3><u>Achievements:</u></h3>
                <img class="mobile-img" src="assets/images/profile.jpg">
                <div>
                    <h4>Keynote Speaker in Reframe WIT Conference</h4>
                    <p>In February 2024, I delivered the opening keynote on the topic "Voices of Courage", on 
                        the prestigious stage of Reframe Women In Tech, Manchester, in front of 500+ people! I shared my story
                        about my journey back into Tech, after a career break of a whopping 13 years, and what it took me 
                        to get on track. Apparently, I had the audience in tears and yet managed to inspire them very much!
                        <br> Here's the link if you're interested!
                    </p>
                    <a [href]="conferenceLink" target="_blank">Reframe WIT, 2024</a>
                </div>
                <hr>
                <div>
                    <p><strong>Curiously Code Guest Speaker,</strong> sharing tips and tricks to get/switch into Tech smoothly.</p>
                </div>
                <hr>
                <div>
                    <p><strong>Spearheaded the NWI,</strong> successfully driving positive, inclusive changes for women in the company.</p>
                </div>
            </div>

            <img class="wider-img" src="assets/images/profile.jpg">
        </div>
    </div>
</div>