.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;

    & .experience-details {
        background: linear-gradient(136deg, rgba(243, 246, 250, 0.3) 10%, rgba(188, 207, 233, 0.3) 100%);
        border-radius: 16px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
        height: 100%;
        padding: 15px 20px;
        padding-right: 25px;

        & h3 {
            margin: 10px 0;
        }

        & p {
            margin: 10px 0;
        }

        & ul {
            padding-inline-start: 20px;
            margin: 8px 0 15px;

            & li {
                margin: 10px 0;
            }
        }
    }
}

@media (max-width: 1330px) {
    .page .experience .experience-details {
        padding: 15px;

        h3 {
            margin-top: 0;
        }
    }
}

// @media (max-width: 1220px) {
//     .page .experience {
//         display: flex;
//         flex-direction: column;
//         padding: 10px;
//         gap: 10px;
//     }
// }

@media (max-width: 950px) {
    .page .experience {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;

        .experience-details {
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}