<div class="page">
    <div class="experience">
        <div class="experience-details">
            <h3><u>Full-stack Developer</u></h3>
            <p><strong>Native Design, London </strong>| June 2022 - Present</p>
            <p><strong>Main clients: </strong>HP, Optum, Poly, Bentley Motors, Atos Medical</p>
            <p [style.marginBottom]="0">Responsibilities:</p>
            <ul>
                <li>Led <strong>90%</strong> of the front-end efforts for the entire developers’ team in developing pixel-perfect web, mobile web, and progressive web apps.</li>
                <li>Implemented various techniques like code splitting, lazy loading and caching, improving app performance by <strong>70%</strong>.</li>
                <li>Monitored project progress with detailed planning of timelines and milestones, resulting in <strong>25%</strong> improvement in project submissions within deadlines.</li>
                <li>Collaborated with UX/UI designers on a daily basis to ensure visual designs are carefully appraised from a technical feasibility perspective.</li>
                <li>Oversaw the implementation and integration of solutions across a variety of systems, including cloud services and a range of hardware platforms.</li>
                <li>Crafted rapid prototypes as well as production applications, often delivering within tight time frames.</li>
                <li>Mentored interns and junior developers, effectively fostering team spirit and a sense of belonging within the team.</li>
            </ul>
        </div>

        <div class="experience-details">
            <h3><u>Freelance Developer</u></h3>
            <p><strong>India</strong> | January 2020 - June 2022</p>
            <p>Main Projects:</p>
            <ul>
                <li><strong>Website for Strokes by Chemz, 2022: </strong>
                    <span>Aesthetic website for a calligraphy artist in Dubai, done in HTML/CSS and jQuery. You can find the site <a href="https://strokesbychemz.github.io/web/" target="_blank">here.</a></span>
                </li>
                <li><strong>Landmark World Residents’ App, 2022: </strong>
                    <span>A Flutter app that consolidates all the details of the residents of Landmark World, an apartment complex in Kerala.</span>
                </li>
                <li><strong>Key Plus Locking Solutions Website, 2021: </strong>
                    <span>Website for a keys and locks shop in Kerala, developed in HTML/CSS and jQuery.</span>
                </li>
                <li><strong>ZNM EMI Calculator, 2021: </strong>
                    <span>An EMI calculator app in Flutter for a local money-dealing team, which calculates EMI based on their specifications of principal amount, kind of loan, and number of years.</span>
                </li>
                <li><strong>Weekenders’ Pick-A-Path game, 2020: </strong>
                    <span>A Flutter game in which the player must navigate through a pair of choices for each premise, and the outcome of the game is based on these choices.</span>
                </li>
            </ul>
        </div>
    </div>
</div>